* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "FLAPPY-BIRD";
  src: url("./images/flappy-bird.ttf");
}

body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "FLAPPY-BIRD";
}

.game {
  position: relative;
  width: 50%;
  height: 95%;
  overflow: hidden;
  background-image: url("./images/background.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: repeat-x;
  animation: background-move 15s linear infinite;
  z-index: -2;
}

@keyframes background-move {
  100% {
    background-position-x: -100vw;
  }
}

.bird {
  position: absolute;
  width: calc(111px / 3);
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
  background-image: url(./images/css_sprites.png);
  background-size: cover;
  z-index: 1;
}

.temporary-animation {
  animation: bird-flap-main-menu 0.5s alternate infinite, bird-move 0.5s steps(3) alternate infinite;
}

@keyframes bird-flap-main-menu {
  100% {
    transform: translate(0, -80px) scale(4) rotate(-30deg);
  }
}

@keyframes bird-flap {
  100% {
    transform: scale(4) rotate(-30deg);
  }
}

@keyframes bird-move {
  100% {
    background-position-x: -100px;
  }
}

.score {
  font-size: 100px;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.main-menu {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-menu .title-text {
  width: 60%;
  height: 15%;
  margin: 50px auto;
  text-align: center;
  background-image: url("./images/title-text.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: bouncing-text 0.7s linear alternate infinite;
}

@keyframes bouncing-text {
  100% {
    transform: scale(0.95);
  }
}

.main-menu .tip-right {
  position: absolute;
  right: 20%;
  bottom: 20%;
  width: 20%;
  height: 7%;
  background-image: url("./images/tap-icon-left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: tip-right-move 0.5s 0.17s alternate infinite;
}

@keyframes tip-right-move {
  100% {
    right: 23%;
  }
}

.main-menu .tip-left {
  position: absolute;
  left: 20%;
  bottom: 20%;
  width: 20%;
  height: 7%;
  background-image: url("./images/tap-icon-right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: tip-left-move 0.5s 0.17s alternate infinite;
}

@keyframes tip-left-move {
  100% {
    left: 23%;
  }
}

.main-menu .tip-main {
  position: absolute;
  left: 50%;
  bottom: 20%;
  width: 20%;
  height: 7%;
  transform: translate(-50%, 50%);
  background-image: url("./images/pointer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: tip-main-move 0.5s alternate infinite;
}

@keyframes tip-main-move {
  100% {
    transform: translate(-50%, 35%) scale(0.9);
  }
}

.end-game {
  width: 100%;
  height: 100%;
}

.game-over-text {
  width: 60%;
  height: 15%;
  margin: 50px auto;
  text-align: center;
  background-image: url("./images/game-over-text.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.result {
  position: absolute;
  color: rgba(255, 123, 100, 0.836);
  width: 70%;
  height: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./images/result.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.final-score {
  position: absolute;
  top: 33%;
  right: 10%;
  font-size: 50px;
}

.best-score {
  position: absolute;
  top: 60%;
  right: 10%;
  font-size: 50px;
}

.hide {
  display: none;
}

.barrier-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 500px;
  background-image: url("./images/barrier-top.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.barrier-bottom {
  position: absolute;
  bottom: 0;
  right: -120px;
  width: 90px;
  height: 50px;
  background-image: url("./images/barrier-bottom.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
